.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  img {
    padding-top: 10%;
    max-width: 100%;
    border-radius: 10%;
  }

  .left {
    width: 30%;
    text-align: center;

    .profile-image {
      max-width: 100%;
      border-radius: 50%;
    }
  }

  .right {
    width: 65%;

    h1 {
      font-size: 24px;
      margin-bottom: 10px;
    }

    hr {
      border: 1px solid #ccc;
      margin-bottom: 20px;
    }

    p {
      font-size: 20px;
      line-height: 2;
      margin-bottom: 20px;
    }
  }
}
