.content {
  margin-top: 4rem;
  margin-left: 10rem;
  margin-right: 2rem;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}
